
@font-face {
  font-family: "untitled-font-1";
  src: url("fonts/icon-font.eot");
  src: url("fonts/icon-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon-font.woff") format("woff"),
    url("fonts/icon-font.ttf") format("truetype"),
    url("fonts/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Sans Italic"), local("NotoSans-Italic"),
    url(https://fonts.gstatic.com/s/notosans/v6/ByLA_FLEa-16SpQuTcQn4I4P5ICox8Kq3LLUNMylGO4.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"),
    url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Only Chrome, Safari, Edge, Stock Android */
  @supports (-webkit-background-clip: text) {
    /* Only feature rich webkit */

    body div.hero-icon {
      padding: 0;
      height: auto;
      width: auto;
      background: transparent;
      border: 1px solid transparent;

      background: -webkit-linear-gradient(
        rgba(28, 102, 162, 1),
        rgba(0, 176, 249, 1)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    body div.hero-icon:before {
      display: block;
      text-align: center;
      width: 40px;
      height: 40px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      line-height: 40px;

      background-color: transparent;
      border-radius: 40px;
    }

    _:-ms-lang(x),
    _:-webkit-full-screen,
    body div.hero-icon:before {
      /* Only Edge 12+ */
      display: inline;
      width: auto;
      height: auto;
      border-color: transparent;
    }
  }
}
@media only screen and (min-width: 960px) {
  body #content .article-row-container {
    width: 95%;
  }
  body #content .article-row-container .article-highlight-container,
  body #content .article-row-container .article-default-container {
    margin: 0;
  }

  body #content .article-row-container .article-highlight-container {
    width: 48.5%;
  }

  body
    #content
    .article-row-container
    .article-highlight-container:nth-child(1) {
    margin-right: 10px;
  }

  body #content .article-row-container .article-default-container {
    width: 49%;
  }

  body #content .article-row-container .article-default-container:nth-child(1) {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 320px),
  (max-width: 720px),
  (max-width: 960px) {
  body section.project > .project-resource {
    float: none;
    margin: auto;
  }
  body section.project > .project-resource > iframe {
    width: 100%;
  }
  body #content .article-row-container .article-highlight-container,
  body #content .article-row-container .article-default-container {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 320px), (max-width: 720px) {
  body section.col > div {
    width: 100%;
    padding: 5px 0px;
  }
  body .padded {
    padding: 0;
  }
  body .hero {
    display: none;
  }
  body .secondary-hero h3 {
    font-size: 17px;
  }
  body .secondary-hero .hero-icon {
    margin-top: 0;
  }
  body .secondary-hero .grid-icon {
    padding-top: 0;
  }
  body #menu {
    display: none;
  }
  body #mobile-menu {
    display: block;
  }

  body #content .article-row-container {
    width: 95%;
  }

  body .hero .col {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  body div.hero-icon,
  body div.hero-icon:before {
    border-color: transparent;
  }
  body div.secondary-hero {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 720px) {
  body #content .text p {
    padding-left: 40px;
  }
}
@media only screen and (max-width: 960px) {
  body header {
    margin: 40px 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Only Chrome, Safari, Edge, Stock Android */
  @supports (-webkit-background-clip: text) {
    /* Only feature rich webkit */

    body div.hero-icon {
      padding: 0;
      height: auto;
      width: auto;
      background: transparent;
      border: 1px solid transparent;

      background: -webkit-linear-gradient(
        rgba(28, 102, 162, 1),
        rgba(0, 176, 249, 1)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    body div.hero-icon:before {
      display: block;
      text-align: center;
      width: 40px;
      height: 40px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      line-height: 40px;

      background-color: transparent;
      border-radius: 40px;
    }

    _:-ms-lang(x),
    _:-webkit-full-screen,
    body div.hero-icon:before {
      /* Only Edge 12+ */
      display: inline;
      width: auto;
      height: auto;
      border-color: transparent;
    }
  }
}
@media only screen and (min-width: 960px) {
  body #content .article-row-container {
    width: 95%;
  }
  body #content .article-row-container .article-highlight-container,
  body #content .article-row-container .article-default-container {
    margin: 0;
  }

  body #content .article-row-container .article-highlight-container {
    width: 48.5%;
  }

  body
    #content
    .article-row-container
    .article-highlight-container:nth-child(1) {
    margin-right: 10px;
  }

  body #content .article-row-container .article-default-container {
    width: 49%;
  }

  body #content .article-row-container .article-default-container:nth-child(1) {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 320px),
  (max-width: 720px),
  (max-width: 960px) {
  body section.project > .project-resource {
    float: none;
    margin: auto;
  }
  body section.project > .project-resource > iframe {
    width: 100%;
  }
  body #content .article-row-container .article-highlight-container,
  body #content .article-row-container .article-default-container {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 320px), (max-width: 720px) {
  body section.col > div {
    width: 100%;
    padding: 5px 0px;
  }
  body .padded {
    padding: 0;
  }
  body .hero {
    display: none;
  }
  body .secondary-hero h3 {
    font-size: 17px;
  }
  body .secondary-hero .hero-icon {
    margin-top: 0;
  }
  body .secondary-hero .grid-icon {
    padding-top: 0;
  }
  body #menu {
    display: none;
  }
  body #mobile-menu {
    display: block;
  }

  body #content .article-row-container {
    width: 95%;
  }

  body .hero .col {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  body div.hero-icon,
  body div.hero-icon:before {
    border-color: transparent;
  }
  body div.secondary-hero {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 720px) {
  body #content .text p {
    padding-left: 40px;
  }
}
@media only screen and (max-width: 960px) {
  body header {
    margin: 40px 0;
  }
}
