body {
    background-color: #fff;
    margin: 0;
    padding: 50px;
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8rem;
    color: #5a6063;
    font-weight: 400;

}

body {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

body.grayscale {
    -webkit-transition: 2s -webkit-filter linear;
    -moz-transition: 2s -moz-filter linear;
    -moz-transition: 2s filter linear;
    -ms-transition: 2s -ms-filter linear;
    -o-transition: 2s -o-filter linear;
    transition: 2s filter linear, 1s -webkit-filter linear;

    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28px;
}

h2 {
    color: #393939;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h3, h4, h5, h6 {
    color: #494949;
}

a {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: #069;
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block;
}

a:hover small {
    color: #777;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

blockquote {
    font-size: 15px;
    max-width: 600px;
    margin: 0;
    margin: auto;
    border-left: 3px solid #e5e5e5;
    background-color: rgba(245,245,245,0.9);
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-style: italic;
    text-align: left;
}

blockquote.last {
    margin-bottom: 30px;
}

blockquote.highlight {
    background-color: rgba(150,150,245,0.9);
    background: linear-gradient(to right, rgba(28, 102, 162, 1), rgba(0, 176, 249, 1));
    border-left: 3px solid rgba(0, 176, 249, 1);
    color: white;
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color: #333;
    font-size: 12px;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-left: 3px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    color: #444;
    font-weight: 700;
}

th {
    color: #444;
}

img {
    max-width: 100%;
}

header {
    width: 270px;
    float: left;
    position: static;
    -webkit-font-smoothing: subpixel-antialiased;
}

header ul {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 270px;
}

header li {
    width: 89px;
    float: left;
    border-right: 1px solid #e0e0e0;
    height: 40px;
}

header li:first-child a {
    border-radius: 5px 0 0 5px;
}

header li:last-child a {
    border-radius: 0 5px 5px 0;
}

header ul a {
    line-height: 1;
    font-size: 11px;
    color: #999;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
}

header ul a:hover {
    color: #999;
}

header ul a:active {
    background-color: #f0f0f0;
}

strong {
    color: #222;
    font-weight: 700;
}

header ul li+li+li {
    border-right: none;
    width: 89px;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

section {
    /* width: 500px; */
    margin: auto;
}

section.col {
    padding-bottom: 20px;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 40px 0;
}

footer {
    margin-top: 100px;
    padding: 10px 20px;
    clear: left;
    clear: right;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: auto;
    }
    header, section, footer {
        float: none;
        position: static;
        width: auto;
    }
    header {
        /*padding-right:320px;*/
    }
    header a small {
        display: inline;
    }
    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }
    header {
        padding: 0;
    }
    header ul, header p.view {
        position: static;
    }
    pre, code {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
    header ul {
        width: 99%;
    }
    header li, header ul li+li+li {
        width: 33%;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}

/* custom */

.red {
    background: red;
}

.no-margin {
    margin: 0 !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-5 {
    margin-bottom: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.no-padding {
    padding: 0 !important;
}

.spacer {
    margin-top: 40px !important;
}

.padded {
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

.justify {
    text-align: justify !important;
    text-justify: distribute !important;
}

.spacing-small {
    word-spacing: -1px !important;
}

.spacing-smallest {
    word-spacing: -2px !important;
}

.hyphens-auto {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.hyphens-manual {
    hyphens: manual;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
}

.auto {
    margin: auto !important;
}

.read-width-optimized {
    max-width: 600px !important;
}

.no-border {
    border: none !important;
}

.border-default {
    border: 1px solid #e5e5e5;
}

.border-dashed {
    border-style: dashed;
}

.border-right-dashed {
    border-right-style: dashed;
}

.no-top-border {
    border-top: none !important;
}

.no-right-border {
    border-right: none !important;
}

.no-bottom-border {
    border-bottom: none !important;
}

.no-left-border {
    border-left: none !important;
}

.font-thin {
    font-weight: 100 !important;
}

.font-regular {
    font-size: 1rem;
}

.font-medium {
    font-size: 2rem;
}

.small-emphasis-container {
    padding-top: 20px;
    border-top: 1px dashed #f1f1f1;
    opacity: 0.6
}

.small-emphasis-container:hover {
    opacity: 1
}

a.call-to-action {
    padding: 5px 10px;
    color: #efefef;
    background-color: #39c;
    border-radius: 3px;
}

a.call-to-action:hover {
    color: #fff;
}

a.call-to-action:active {
    color: #efefef;
}

header h1 {
    font-size: 38px;
    font-weight: 100;
    line-height: 30px;
}

header h1 .sub {
    font-style: italic;
    font-size: 20px;
    line-height: 15px;
    color: #727272;
}

h2 {
    font-weight: 100;
}

.offer-heading {
    text-align: center
}

section.col>div {
    width: 32.4%;
    padding: 5px 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}

section.col h3 {
    margin-bottom: 20px;
}

section.col div.footer {
    display: block;
}

section.skills {
    font-weight: 500;
    font-style: italic;
}

section.projects section.project:last-of-type {
    padding-bottom: 0;
}

section.project {
    border: none;
    margin: 0;
}

section.project h2, section.project h3 {
    margin: auto;
    max-width: 600px;

}

section.project .project-text {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

section.project>div.item {
    box-sizing: border-box;
    vertical-align: top;
}


section.project div.item img {
    width: 100%;
    object-fit: cover;
}

section.project>.project-resource {
    width: 180px;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

div.body-border {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #272f91;
}

div.body-border-top {
    top: 0;
}

div.body-border-bottom {
    bottom: 0;
}

div.hero-icon {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 40px;
    height: 40px;

    color: #0090be;
    text-align: center;

    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border: 1px dashed transparent;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

div.hero-icon:before {
    display: inline;
    font-size: 40px;
    line-height: 42px;
}

div.grid-icon {
    padding: 5px 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}

div.grid-icon-3 {
    width: 32.4%;
}

div.hero {
    margin: 60px 0 0 0;
    text-align: center
}

div.hero section {
    float: none;
    width: auto;
    max-width: 1000px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin: auto;
}

div.hero h1.hero-heading {
    font-size: 40px;
    font-weight: 300;
}

div.hero h2.hero-heading {
    color: #727272;
}

div.secondary-hero {
    margin: 0 0 30px 0;
}

.colorful-font {
    background: transparent;
    border: 1px solid transparent;

    background: -webkit-linear-gradient(rgba(28, 102, 162, 1), rgba(0, 176, 249, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#mobile-menu {
    margin: auto;
    display: none;
    text-align: center;
}

#mobile-menu-toggle {
    font-weight: 100;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    margin-bottom: 10px;
}

#mobile-menu .item {
    font-size: 1.5rem;
}

#mobile-menu-toggle-container .item {
    padding: 25px 0;
}

#menu #list-container {
    margin: auto;
    max-width: 564px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}

#menu #list-container .first-item {
    border-left: 1px solid transparent;
}

#menu .item {
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    display: inline-block;
}

#menu .item:hover {
    background-color: rgb(250,250,250);
    cursor: pointer
}

.vertical-separator {
    margin: auto;
    height: 70px;
}

.vertical-separator .separator {
    display: inline-block;
    height: 70px;
    width: 50%;
    border-right: 1px solid #e5e5e5;
}

.vertical-separator .separator.border-right-dashed {
    border-right-style: dashed;
}

#journal {
    display: none;
}

#content {
    margin: auto;
    max-width: 1000px;
}

#content section.center {
    max-width: 500px;
}
#content .heading-container {
    padding: 20px 0;
    text-align: center;
}

#content .heading-container .heading {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    font-style: italic;
    font-family: serif;
}


#content h3.highlights {
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
    font-style: italic;
    font-family: serif;
}

#content .article-row-container {
    margin: auto;
    width: 75%;
}

#content .article-row-container .article-highlight-container {
    margin: 0 15px;
    padding: 2px 2px;
    border-radius: 3px;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(28, 102, 162, 1), rgba(0, 176, 249, 1));
}

#content .article-row-container .article-highlight-container article {
    background-color: rgba(255,255,255,1);
    padding: 18px 18px;
}

#content .article-row-container .article-default-container {
    box-sizing: border-box;
    margin: 0 15px;
    padding: 20px 20px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    display: inline-block;
}

/* hljs */

/*
  Five-color theme from a single blue hue.
*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-title,
  .hljs-section,
  .hljs-doctag,
  .hljs-name,
  .hljs-strong {
    
  }
  
  .hljs-comment {
    color: #738191;
  }
  
  .hljs-string,
  .hljs-title,
  .hljs-section,
  .hljs-built_in,
  .hljs-literal,
  .hljs-type,
  .hljs-addition,
  .hljs-tag,
  .hljs-quote,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    background: transparent;
    border: 1px solid transparent;

    background: -webkit-linear-gradient(rgba(28, 102, 162, 1), rgba(0, 176, 249, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hljs-meta,
  .hljs-subst,
  .hljs-symbol,
  .hljs-regexp,
  .hljs-attribute,
  .hljs-deletion,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-link,
  .hljs-bullet {
    color: #4c81c9;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  